In [1]:
from pymongo import MongoClient
import pandas as pd

In [2]:
client = MongoClient(port=27017)
db = client.trip_advisor
collection = db.reviews
df = pd.DataFrame(list(collection.find()))

In [3]:
df.describe()

,_id,poi_name,title,date,review_rating,text,date_of_visit,reviewer
count,640,640,640,640,640,640,640,640
unique,640,23,616,517,5,639,99,599
top,"{'id': '620261466', 'poi_location_id': '116439...",Koukos,Excellent,"February 28, 2022",50,"I went there to get a salad, staff really trie...",May 2019,"{'name': 'REDMAN', 'handle': 'REDMAN5314', 'lo..."
freq,1,86,6,9,495,2,19,4

In [4]:
print(f"Missing values are present: {df.isnull().sum().any()}")

Missing values are present: False

In [20]:
# Create subset of users with age group info
age_subset = []

for item in collection.find():
    reviewer = item['reviewer']
    try:
        age_group = reviewer['age']
        age_subset.append(item)
    except:
        None

len(age_subset)

152

In [21]:
# Create subset of users with gender info
gender_subset = []

for item in collection.find():
    reviewer = item['reviewer']
    try:
        gender_group = reviewer['sex']
        gender_subset.append(item)
    except:
        None

len(gender_subset)

192